:root {
    --black: #0F172A;
    --gray: #1E293B;
    --blue: #334155;
    --light-blue: #38BDF8;
    --white: #F1F5F9;
}

::-moz-selection {

    background-color: var(--light-blue);
    /* background-color: var(--light-blue); */
    color: #000;
    text-shadow: none;
}

::selection {

    background-color: var(--light-blue);
    /* background-color: var(--light-blue); */
    color: #000;
    text-shadow: none;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--black);
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

}

.inner-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    /* padding: 25px; */
    /* height: 13.55vh; */
    height: 16vh;
    padding: 0px;
    border-radius: 42px;
    border: solid 5px var(--light-blue);
}

.inner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nav-item-div:first-child {
    padding-left: 75px;
}

.nav-item-div:last-child {
    padding-right: 75px;
}

.nav-item-div {
    padding: 5px;
}

.a-link {
    color: var(--white);
    text-decoration: none;
    text-decoration-color: var(--white);
    text-decoration-style: solid;
    text-decoration-thickness: 1px; 

    transition: all .3s ease;
}
.a-link:hover {
    text-decoration: underline;
}

.a-text {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
}

.highlighted-a-text {
    color: var(--light-blue);
    text-decoration: underline;
    font-weight: 600;
    font-size: 2.1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: var(--white);
    
    cursor: url('images/cursor.png'), auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-top: 25px;
    margin-bottom: 65px;
}

.card-1-modal-div,
.card-2-modal-div,
.card-3-modal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 25px 0px 25px 0px;
    width: 600px;
    border-radius: 35px;
    border: var(--light-blue) solid 5px;
    background-color: var(--black);
    color: var(--white);
}

.card-1-top,
.card-2-top,
.card-3-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100%;
}

.card-1-image-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.card-1-image-video video {
    width: 40%;
    height: auto;
    border-radius: 25px;
    border: solid 1px var(--white);
}

.card-1-img,
.card-2-img,
.card-3-img {
    width: 40%;
    height: auto;
    border-radius: 25px;
    border: var(--white) solid 1px;
}

.card-1-modal-title-text,
.card-2-modal-title-text,
.card-3-modal-title-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;
    height: auto;
}

.title-text-span {
    font-size: 2rem;
    font-weight: 500;
}

.text-span {
    font-size: 1.05rem;
    font-weight: 400;
}

.card-1-bottom,
.card-2-bottom,
.card-3-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 10px 0px 10px;
}

.download-link-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 15%;
    aspect-ratio: 1 / 1;
    
    background-color: var(--light-blue);
    border-radius: 65px;
    padding: 5px;
}


.h2-title {
    font-size: 2.25rem;
}

.all-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    gap: 2%;
}

.first-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 25px;
    border-radius: 25px;

    width: 285px;
    height: 305px;
    gap: 5px;

    background-color: var(--black); 
    color: var(--white);
    border: solid 5px var(--light-blue);
}

/* .p-l-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 50%;
    height: auto;
    border-radius: 150px;
    padding: 15px;
} */

.product-img {
    width: 75%;
    height: auto;
    border-radius: 15px;
    border: var(--white) solid 2px;
}

.title-span {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.description-span {
    font-size: 1.25rem;
    font-weight: 500;
}

.info-div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    /* height: auto; */
    aspect-ratio: 1 / 1;
    
    border-radius: 65px;
    padding: 5px;
}

.disabled-download {
    background-color: var(--blue);
}

.enabled-download {
    background-color: var(--light-blue);
}

.download-a {
    display: flex;
    justify-content: center;
    align-items: center;
}


.disabled {
    pointer-events: none;
    cursor: default;
}

.download-img {
    width: 75%;
    height: auto;
}

.open-message {
    margin: 10px;
    font-size: .65rem;
    cursor: pointer;
}

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 15px 25px 0px 25px;
    border-radius: 50px 50px 0px 0px;
    border: solid 5px var(--light-blue);
    gap: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.trademarks-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.flaticon-link {
    color: var(--white);
    font-size: 0.7rem;
    font-weight: 300;
    text-decoration: none;
}

.copyright {
    color: var(--white);
    padding-bottom: 10px;

    text-align: center;
}

.footer-link {
    text-decoration: none;
}

.footer-link-text {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}

/* Dark background */
#modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    z-index: 999;
}

/* Active overlay */
#modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Hidden modals */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.9);

    opacity: 0;
    visibility: hidden;

    z-index: 1000;

    padding: 20px;

    transition: 0.3s;
}

/* Open modal */
.modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 1155px) {
    .all-cards {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .first-cards {
        width: 100%;
    }

    .second-cards {
        width: 100%;
    }

    /* .competence-card {
        width: 56%;
    } */
}

@media (max-width: 800px) {
    .first-div {
        width: 100%;
        flex-direction: column;
    }

    .footer {
        border-radius: 75px 75px 0px 0px;
    }
}

/* 695px idealy*/
/* @media (orientation: portrait) { */
@media (max-width: 695px) {

    .header {
        border-radius: 50px;
        height: auto;
    }

    .inner-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-item-div:first-child {
        padding-left: 0px;
    }
    
    .nav-item-div:last-child {
        padding-right: 0px;
    }


    .footer {
        border-radius: 100px 100px 0px 0px;
    }

    .inner-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}