:root {
    --black: #0F172A;
    --gray: #1E293B;
    --blue: #334155;
    --light-blue: #38BDF8;
    --white: #F1F5F9;
}

::-moz-selection {

    background-color: var(--light-blue);
    /* background-color: var(--light-blue); */
    color: #000;
    text-shadow: none;
}

::selection {

    background-color: var(--light-blue);
    /* background-color: var(--light-blue); */
    color: #000;
    text-shadow: none;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--black);
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

}

.inner-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    /* padding: 25px; */
    /* height: 13.55vh; */
    height: 16vh;
    padding: 0px;
    border-radius: 42px;
    border: solid 5px var(--light-blue);
}

.inner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nav-item-div:first-child {
    padding-left: 75px;
}

.nav-item-div:last-child {
    padding-right: 75px;
}

.nav-item-div {
    padding: 5px;
}

.a-link {
    color: var(--white);
    text-decoration: none;
    text-decoration-color: var(--white);
    text-decoration-style: solid;
    text-decoration-thickness: 1px; 

    transition: all .3s ease;
}
.a-link:hover {
    text-decoration: underline;
}

.a-text {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
}

.highlighted-a-text {
    color: var(--light-blue);
    text-decoration: underline;
    font-weight: 600;
    font-size: 2.1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: var(--white);
    
    cursor: url('images/cursor.png'), auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-top: 5px;
    margin-bottom: 40px;
}

.main-images-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 800px;
    /* height: 300px; */
    min-height: 45vh;
    
    margin-top: 50px;
    /* margin: 60px auto; */
}

.image {
    height: 38vh;
    width: auto;
    position: absolute;
    border: solid 5px var(--light-blue);
    border-radius: 35px;
    object-fit: contain;
    /* transform-origin: bottom center; */
}

/* Left image */
.image-nr-1 {
    /* height: 33vh;
    width: 26.91vw;
    object-fit: contain;*/

    /* border-radius: 75px; */
    left: 50%;
    transform: translateX(-130%) rotate(-17deg);
    top: 40px;
    z-index: 3;
}

/* Middle image */
.image-nr-2 {
    /* height: 33vh;
    width: 26.91vw; 
    object-fit: contain;*/

    /* border-radius: 75px; */
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    top: 10px;
    z-index: 2;
}

/* Right image */
.image-nr-3 {
    /* height: 33vh;
    width: 26.91vw; 
    object-fit: contain;*/

    /* border-radius: 75px; */
    left: 50%;
    transform: translateX(30%) rotate(17deg);
    top: 40px;
    z-index: 1;
}

.title-subtitle-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-family: "Fredoka";
    font-size: 8rem;
    line-height: 0.7;
    font-weight: 700;
}

.main-subtitle {
    font-family: "Island Moments", cursive;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    color: var(--light-blue);
}

.container-2 {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.inner-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container-2-image-with-dogs {
    width: 40vw;
    max-width: 650px;
    height: auto;

    border-radius: 5px 85px 5px 85px;
    border: solid 5px var(--light-blue);
}

.title-signature-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40vw;
    height: auto;
}

.title-signature-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.text-title-span {
    font-family: "Fredoka";
    font-size: 2rem;
    font-weight: 500;
}


.signature-img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.main-paragraph {
    font-size: 1.25rem;
    height: 250px;
    overflow: auto;
}

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 15px 25px 0px 25px;
    border-radius: 50px 50px 0px 0px;
    border: solid 5px var(--light-blue);
    gap: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.trademarks-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.flaticon-link {
    color: var(--white);
    font-size: 0.7rem;
    font-weight: 300;
    text-decoration: none;
}

.copyright {
    color: var(--white);
    padding-bottom: 10px;

    text-align: center;
}

.footer-link {
    text-decoration: none;
}

.footer-link-text {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}

@media (orientation: landscape) {
    .header {
        border-radius: 100px;
    }

    .inner-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item-div:first-child {
        padding-left: 75px;
    }
    
    .nav-item-div:last-child {
        padding-right: 75px;
    }


    .footer {
        border-radius: 100px;
    }

    .inner-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media (orientation: portrait) {
    .header {
        border-radius: 50px;
        height: auto;
    }

    .inner-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-item-div:first-child {
        padding-left: 0px;
    }
    
    .nav-item-div:last-child {
        padding-right: 0px;
    }

    /* .main-images-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        gap: 20px;
    }

    .image {
        position: static;
        height: 38vh;
        width: auto;
    }

    .image-nr-1,
    .image-nr-2,
    .image-nr-3 {
        left: 0%;
        transform: translateX(0%) rotate(0deg);
        top: 0px;
        z-index: 0;
    } */


    .main-images-div {
        position: relative;
        width: 100%;
        height: 75vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        position: absolute;
        height: 32vh;
        width: auto;
        transform-origin: bottom center;
    }


    .image-nr-1 {
        left: 50%;
        top: 0%;
        transform: translateX(-50%) rotate(0deg);
        z-index: 1;
    }

    .image-nr-2 {
        left: 50%;
        top: 25%;
        transform: translateX(-50%) rotate(0deg);
        z-index: 2;
    }

    .image-nr-3 {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) rotate(0deg);
        z-index: 3;
    }

    .inner-container-2 {
        display: flex;
        flex-direction: column;
    }

    .footer {
        border-radius: 100px;
    }

    .inner-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}